{% extends 'base.html' %}
{% block title %}Courses{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold text-gray-700 mb-4 flex items-center gap-2">
  <i class="fas fa-chalkboard-teacher text-blue-600 text-xl"></i>
  Courses
</h2>
<ul>
      <li>Software Engineering</li>
      <li>Cyber Physical Systems</li>
      <li>Artificial Intelligence</li>
      <li>Machine Learning</li>
      <li>Mobile Security</li>
      <li>Programming Languages (Formal Verification & Runtime Analysis)</li>
      <li>Android App Development</li>
      <li>Robotics and Embedded Systems</li>
    </ul>
{% endblock %}
