{% extends 'base.html' %}

{% block title %}Dr. Fu{% endblock %}

{% block content %}
{% load static %}
<!-- Academic Header -->
<header class="academic-header">
  {% load static %}
  <img src="{% static 'dr.fu.PNG' %}" alt="Dr. Yujian Fu" class="profile-img">
  <h1>Dr. Yujian Fu</h1>
  <p class="fw-medium">Professor, Department of Electrical Engineering & Computer Science</p>
  <p class="mt-3">
    I am a Professor specializing in formal modeling, software engineering, and intelligent analysis of cyber-physical systems.
    My research group focuses on making deep learning and real-time systems more secure, robust, and interpretable through formal specification, verification, software architecture, and runtime assurance of embedded and intelligent systems.
  </p>
</header>


{% endblock %}
